<div class="row">
    <h2>Operación:</h2>
    <div class="col-12 result d-flex align-items-center justify-content-center">
         <h3>{{current}}</h3>
    </div>
</div>

<div class="row numpad">
    <div class="col-8">
        <div class="row">
            <app-button 
                class="col-4" 
                *ngFor="let button of buttons" 
                [content]="button"
                (buttonClicked)="onPressedNumber($event)"
            >
            </app-button>
        </div>           
    </div>    
    <div class="col">
        <div class="row">
            <div class="col-6 my-3">
                <button class="btn btn-block btn-info" (click)="onPressedOperation('+')">+</button>
            </div>
            <div class="col-6 my-3">
                <button class="btn btn-block btn-info" (click)="onPressedOperation('-')">-</button>
            </div>
            <div class="col-6 my-3">
                <button class="btn btn-block btn-info" (click)="onPressedOperation('*')">*</button>
            </div>    
            <div class="col-6 my-3">
                <button class="btn btn-block btn-info" (click)="onPressedOperation('/')">/</button>
            </div>
        </div> 
    </div>    
</div>

<div class="row">
    <div class="col-12">
        <button class="btn btn-block btn-success" (click)="calculate()">=</button>
    </div>
</div>

<div class="mt-5">
    <ul>
        <li *ngFor="let op of prevOp">
            {{formatOp(op)}}
        </li>
    </ul>
</div>